.section-footer {
  height: 120vw;
  display: grid;
}

.footer {
  width: 100vw;
  height: 90vw;
  display: flex;
  background: #000;
  color: #fff;
}

.contact-container {
  width: 50vw;
  height: 90vw;
}

.contact-container-left {
  padding-left: 3vw;
  padding-top: 2vw;
}

.contact-container-left h3 {
  font-size: 5vw;
}

.contact-row-left {
  display: flex;
}

.contact-row-left h4 {
  font-size: 5vw;
  margin-top: 2vw;
}

.contact-row-left i {
  font-size: 10vw;
}

.contact-line {
  width: 10vw;
}

.contact-container-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 2vw;
  text-align: right;
}

.contact-row-right h4 {
  font-size: 5vw;
}

.hr {
  width: 30vw;
  margin: 3vw 0 3vw 7vw;
  height: 2vw;
  background: white;
}

.contact-footer {
  width: 100%;
  display: flex;
}

.contact-footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4vw 0 0 2vw;
  color: white;
}

.social-media-side {
  display: flex;
  flex-direction: column;
}

.contact-div {
  width: 50%;
  color: white;
}

.contact-div img {
  float: left;
}

.contact-div h4 {
  color: white;
  padding-top: -0.2vw;
  width: 40vw;
}

.contact-icon {
  font-size: 10vw;
  color: white;
  float: left;
}

@media only screen and (min-width: 1024px) {
  .wrapper1 {
    background-color: rgb(0, 0, 0);
    bottom: 0;
  }

  .section-footer {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    height: 25vw;
  }

  .contact-content {
    width: 50%;
  }

  .contact-footer {
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .contact-footer-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    color: white;
  }

  .social-media-side {
    display: inline-block;
    width: 30%;
  }

  .contact-div {
    width: 100%;
    color: white;
  }

  .contact-div h3 {
    font-size: 2vw;
  }

  .contact-div img {
    float: left;
  }

  .contact-div h4 {
    color: white;
    font-size: 1.5vw;
    padding-top: -0.2vw;
    width: 80%;
  }

  .contact-icon {
    font-size: 2vw;
    color: white;
    float: left;
  }

  .contact-line {
    width: 2vw;
    height: 2vw;
  }

  .contact-person h4 {
    font-size: 1.2vw;
  }

  .tagline-wrap {
    float: right;
    width: 90%;
    /* border: blue 5px solid; */
  }

  .tagline-wrap div,
  .tagline-wrap hr {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper1 {
    background-color: rgb(0, 0, 0);
    height: 70%;
  }

  .section-footer {
    background-color: rgb(0, 0, 0);
  }

  .contact-content {
    width: 100%;
  }

  .section-credits {
    background-color: #ffffff;
  }

  .wrapper-contact {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
