@import url("https://fonts.googleapis.com/css2?family=Economica&display=swap");

/* Scrollbar for Chrome User */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
  opacity: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Economica", sans-serif;
}

body {
  background: #1d1b1b;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: fit-content;
  background: #fff0e3;
}

/* !Navbar */
.navbar-wrapper {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: #321126;
  transform: translateX(200%);
  z-index: 150;
}

.nav-inactive {
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(100%) !important;
  transition: transform 0.5s ease-in;
}

.burger {
  position: fixed;
  width: 9.5vw;
  height: 7.5vw;
  z-index: 50;
  transform: translateX(88vw);
  top: 2vw;
}

.burger div {
  width: 7.5vw;
  height: 1.1vw;
  border-radius: 5px;
  background-color: #1d1b1b;
  opacity: 0.7;
  margin: 1vw;
}

.logo-okk-nav {
  position: absolute;
  top: 12vw;
  left: 16vw;
}

#logo-okk {
  width: 20vw;
}

.close-nav-button {
  border-radius: 7vw;
  width: 25vw;
  height: 8vw;
  font-size: 4.3vw;
  top: 90vw;
  left: 14vw;
  position: absolute;
  background-color: #fff;
  border: none;
}

.navbar-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 35vw 26vw 35vw 0;
  color: #fff;
  float: right;
  /* overflow: hidden; */
}

.navbar-wrapper ul li {
  text-decoration: none;
  margin-right: 5vw;
  margin-top: 3vw;
}

.navbar-wrapper ul li a {
  text-decoration: none;
  color: #ffc380;
  font-size: 5vw;
}

/* !Content Container */
.content-container {
  width: 100%;
  height: fit-content;
}

/* !Juan's Code */
.accordion-button:focus {
  z-index: 3;
  border-color: #986233;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fd510d40;
}

.accordion-button {
  font-size: 5vw;
}

.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

.date {
  font-size: 3.5vw;
}

.accordion-body p {
  font-size: 3.5vw;
}

.month {
  font-size: 3.5rem;
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 4rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  /*font-size: 0.75rem;*/
  /*padding: 0.4rem;*/
  /*color: white;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  /*margin-bottom: 1px;*/
}

.calendar .days li .event.span-1 {
  width: 175%;
}

.calendar .days li .event.span-2 {
  width: 250%;
}

.calendar .days li .event.span-3 {
  width: 350%;
}

.calendar .days li .event.span-4 {
  width: 400%;
}

.calendar .days li .event.span-5 {
  width: 450%;
}


.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n + 29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

/* ?Elements */
.blob {
  width: 100%;
  margin: 8vw auto 0 auto;
}

.content-container h2,
.content-container h1 {
  text-align: center;
}

.content-container h2 {
  font-size: 7.5vw;
  color: #b7757c;
}

.content-container h1 {
  font-size: 11vw;
  font-weight: bold;
}

.underline {
  width: 40%;
  height: 1.5vw;
  background: black;
  margin: 0 auto 2vw auto;
}

.calendar h3 {
  text-align: center;
  width: 20vw;
  margin: 0 auto;
  font-weight: bold;
}

.underline-collapse {
  width: 50%;
  height: 0.2vw;
  background: black;
  margin: 0 auto 2vw auto;
}

.tanggal {
  width: 90%;
  height: 55vw;
  border: transparent 5px solid;
  margin: 0 auto;
}

.tanggal ul {
  margin-left: 2vw;
}

.tanggal ul li {
  display: inline-block;
  margin: 2vw 1.5vw;
}

.accordion {
  margin: 0 auto;
}

/* !Section Sponsor */

.section-sponsor {
  width: 100vw;
  height: 180vw;
  position: relative;
  bottom: -2vw;
  background: white;
}

.wave {
  width: 100vw;
  position: relative;
  bottom: 22vw;
}

.sponsor-wrapper {
  width: 80vw;
  height: 150vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sponsor {
  width: 80vw;
  height: 70vw;
  text-align: center;
}

.sponsor h5 {
  margin-bottom: 7vw;
  font-size: 7vw;
}

.sponsor-img {
  width: 60vw;
}

.footer {
  width: 100vw;
  height: 90vw;
  display: flex;
  background: #000;
  color: #fff;
}

.contact-container {
  width: 50vw;
  height: 90vw;
}

.contact-container-left {
  padding-left: 3vw;
  padding-top: 2vw;
}

.contact-container-left h3 {
  font-size: 5vw;
}

.contact-row-left {
  display: flex;
}

.contact-row-left h4 {
  font-size: 5vw;
  margin-top: 2vw;
}

.contact-row-left i {
  font-size: 10vw;
}

.contact-line {
  width: 10vw;
}

.contact-container-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 2vw;
  text-align: right;
}

.contact-row-right h4 {
  font-size: 5vw;
}

.hr {
  width: 30vw;
  margin: 3vw 0 3vw 7vw;
  height: 2vw;
  background: white;
}


@media only screen and (min-width: 1024px) {
  /* !!!Navigation Bar */
  .navbar-wrapper {
    position: absolute;
    width: 100%;
    height: 20vw;
    background-color: none;
    background: none;
    transform: translateX(0%);
    z-index: 100;
  }

  .logo-okk-nav {
    position: absolute;
    top: 2vw;
    left: 10vw;
  }

  #logo-okk {
    width: 6vw;
  }

  .close-nav-button {
    display: none;
    visibility: hidden;
  }

  .navbar-wrapper ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: #fff;
    float: right;
  }

  .navbar-wrapper ul li {
    text-decoration: none;
    margin-right: 5vw;
    margin-top: 3vw;
  }

  .navbar-wrapper ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2vw;
  }

  .burger {
    display: none;
  }

  /* ?Elements */
  .blob {
    width: 50%;
    margin: 12vw auto 0 auto;
  }

  .content-container {
    width: 100%;
    height: fit-content;
  }

  .title-container {
    display: inline-block;
    margin-left: 4vw;
    position: relative;
    bottom: 7.5vw;
  }

  .content-container h2,
  .content-container h1 {
    text-align: center;
  }

  .content-container h2 {
    font-size: 4.5vw;
    color: #b7757c;
  }

  .content-container h1 {
    font-size: 5vw;
    font-weight: bold;
  }

  .underline {
    width: 100%;
    height: 0.5vw;
    background: black;
    margin: 0 auto 2vw auto;
  }

  /* !Juan's Code */
  .accordion-button:focus {
    z-index: 3;
    border-color: #986233;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fd510d40;
  }

  .accordion-button {
    font-size: 2.5vw;
  }

  .accordion-container {
    width: 40% !important;
    margin-right: 9vw;
    position: relative;
    bottom: 32vw;
  }

  .calendar {
    border-radius: 10px;
  }

  .month {
    font-size: 2rem;
  }

  .d-flex h1 {
    font-size: 5vw;
  }

  .date {
    font-size: 1.5vw;
  }

  .accordion-body p {
    font-size: 2vw;
  }

  .month {
    font-size: 3.5rem;
  }

  .calendar ol li {
    float: left;
    width: 14.28571%;
  }

  .calendar .day-names {
    border-bottom: 1px solid #eee;
  }

  .calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .calendar .days li {
    border-bottom: 1px solid #eee;
    min-height: 4rem;
  }

  .calendar .days li .date {
    margin: 0.5rem 0;
  }

  .calendar .days li .event {
    /*font-size: 0.75rem;*/
    /*padding: 0.4rem;*/
    /*color: white;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    /*margin-bottom: 1px;*/
  }

  .calendar .days li .event.span-2 {
    width: 250%;
  }

  .calendar .days li .event.span-3 {
    width: 350%;
  }

  .calendar .days li .event.span-4 {
    width: 400%;
  }

  .calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
  }

  .calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
  }

  .calendar .days li .event.clear {
    background: none;
  }

  .calendar .days li:nth-child(n + 29) {
    border-bottom: none;
  }

  .calendar .days li.outside .date {
    color: #ddd;
  }

  /* !Sponsor Section */
  .section-sponsor {
    width: 100vw;
    height: 30vw;
    position: relative;
    bottom: 0vw;
    background: white;
  }

  .wave {
    width: 100vw;
    position: absolute;
    bottom: 29vw;
  }

  .sponsor-wrapper {
    width: 100vw;
    height: 30vw;
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .sponsor {
    width: 50vw;
    height: 25vw;
    text-align: center;
    flex: 1;
    margin-bottom: 7vw;
  }

  #sponsor-kiri {
    border-right: #000 solid 1px;
  }

  .sponsor h5 {
    margin-bottom: 2vw;
    font-size: 4vw;
  }

  .sponsor-img {
    width: 20vw;
  }

  .footer {
    width: 100vw;
    height: 30vw;
    display: flex;
    background: #000;
    color: #fff;
  }

  .contact-container {
    width: 50vw;
    height: 30vw;
  }

  .contact-container-left {
    padding-left: 3vw;
    padding-right: 10vw;
    padding-top: 2vw;
  }

  .contact-container-left h3 {
    font-size: 2.5vw;
  }

  .contact-row-left {
    display: flex;
  }

  .contact-row-left h4 {
    font-size: 1.5vw;
    margin-top: 1vw;
  }

  .contact-row-left i {
    font-size: 4vw;
  }

  .contact-line {
    width: 4vw;
  }

  .contact-container-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    padding-top: 2vw;
    text-align: right;
  }

  .contact-row-right h4 {
    font-size: 1.5vw;
  }

  .hr {
    width: 20vw;
    margin: 3vw 0 3vw 7vw;
    height: 0.5vw;
    background: white;
  }
}
